<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media_left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>

      <% end %>

      <div class="media-body">
        <h2 class="media-heading"><%= @user.email %></h2>

      </div>

    </div>

  </div>

</div>

<div class="row">
      <%= link_to "New Topic", new_user_topic_path(current_user), class: 'btn btn-success' %>
      <%= link_to "All Topics", user_topics_path(current_user), class: 'btn btn-success' %>
</div>

<div>
    <%= render @user.topics %>
</div>
